<!doctype html>
<html>
   <body>
      <table border = 1>
            <tr>
               <td> MACHINE  </th>
               <td> CONDITION  </th>
               <td> LAST MEASUREMENT </td>
            </tr>
         {% for item in data%}
            <tr>
               {% for key in ['machine_name', 'condition', 'last_measurement_time'] %}
               <td> {{ item[key] }} </td>
               {% endfor %}
            </tr>
         {% endfor %}
      </table>
      
   </body>
</html>
